<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <cli-header></cli-header>

    <!-- Left side column. contains the logo and sidebar -->
    <cli-sidemenu></cli-sidemenu>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <cli-barranotificacao></cli-barranotificacao>

    <!-- Main Footer -->
    <cli-footer></cli-footer>

  </div>
  <!-- ./wrapper -->
  </body>
