<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Usuários
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Level</a>
    </li>
    <li class="active">Página de Usuários</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-4 col-sm-7 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua">
          <i class="fa fa-book"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Total Usuario</span>
          <span class="info-box-number">{{QtdUsuarios}}
            <small></small>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <button type="button" class="btn btn-primary btn-flat waves-effect waves-light" data-toggle="modal" data-target="#modal-cadastro">
      Cadastrar
    </button>
  </div>
  <!-- /.Modal-Deletar -->
  <div class="modal fade" id="modal-delete">
      <div class="modal-dialog">
        <form method="delete">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Deletar Autor</h4>
            </div>
            <div class="modal-body">
              <span>Tem certeza que deseja apagar o registro?</span>

              <p>{{usuario?.id}} - {{usuario?.nome}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
              <button type="submit" (click)="deletarAutor(autor.id)" class="btn btn-danger" data-dismiss="modal">Confirmar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </form>
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.Modal-Deletar -->

  <!-- /.Modal-Cadastro -->
  <div class="modal fade" id="modal-cadastro">
    <div class="modal-dialog">
      <form [formGroup]="usuarioForm" method="post">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Obras</h4>
          </div>
          <div class="modal-body">
            <input formControlName="id" type="text" hidden>
            <cli-input-container>
              <label stacked>Nome*</label>
              <input formControlName="nome" type="text" class="form-control" placeholder="nome">
            </cli-input-container>
            <cli-input-container>
              <label stacked>Email*</label>
              <input formControlName="email" type="email" class="form-control" placeholder="Email">
            </cli-input-container>
            <cli-input-container>
              <label stacked>Senha*</label>
              <input formControlName="senha" type="password" class="form-control" placeholder="Senha">
            </cli-input-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" [disabled]="usuarioForm.invalid" (click)="cadastrarObra()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </form>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.Modal-Cadastro -->

  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td class="text-center">
                  <a class="btn btn-link" (click)="carregarUsuario(usuario.id)" data-toggle="modal" data-target="#modal-cadastro">
                    <span class="fa fa-pencil-square-o"></span>
                  </a>
                  <a class="btn btn-link" (click)="carregarUsuario(usuario.id)" data-toggle="modal" data-target="#modal-delete">
                    <span class="fa fa-times-circle"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
